<div class="component-header">
  <h2>Cidadãos</h2>
</div>

<div class="container">

  <div class="btn-header mb-4">
    <button (click)="new()" class="btn-primary btn">Adicionar</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th susere="col">#</th>
      <th susere="col">Nome</th>
      <th susere="col">Sobrenome</th>
      <th susere="col">E-mail</th>
      <th susere="col">Açoes</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <th susere="row">{{ i + 1 }}</th>
      <td>
        {{user.firstName}}
      </td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <button type="button" class="btn btn-primary"><fa-icon icon="eye"></fa-icon></button>
        <button type="button" class="btn btn-success"><fa-icon icon="edit"></fa-icon></button>
        <button type="button" class="btn btn-danger"><fa-icon icon="trash-alt"></fa-icon></button>
      </td>
    </tr>

    </tbody>

  </table>
  <p *ngIf="!users?.length">
    <ngb-alert [dismissible]="false">
      <strong>Não há dados cadastrados</strong>
    </ngb-alert>
  </p>
</div>
