<div class="component-header">
  <h2>Multas</h2>
</div>

<div class="container">

  <div class="btn-header mb-4">
    <button (click)="new()" class="btn-primary btn">Adicionar</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Placa</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fine of fines; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{fine.licensePlate}}
      </td>
      <td>{{fine.latitude}}</td>
      <td>{{fine.longitude}}</td>
      <td>
        <button type="button" class="btn btn-primary"><fa-icon icon="eye"></fa-icon></button>
        <button type="button" class="btn btn-success"><fa-icon icon="edit"></fa-icon></button>
        <button type="button" class="btn btn-danger"><fa-icon icon="trash-alt"></fa-icon></button>
      </td>
    </tr>

    </tbody>

  </table>
  <p *ngIf="!fines?.length">
    <ngb-alert [dismissible]="false">
      <strong>Não há dados cadastrados</strong>
    </ngb-alert>
  </p>



  <div *ngIf="totalItems > 0" class="card-header" [ngClass]="{'with-pagination': fines}">
    <div class="d-flex justify-content-between">
      <span *ngIf="!fines.length" jhiTranslate="global.empty.list.title"></span>
      <div>
        Mostrando {{fines.length }} de {{totalItems}}
      </div>
      <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                      [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)" size="sm"></ngb-pagination>
    </div>
  </div>

</div>
